<html>
	<head>
		<title>Hackathon v1 - FYP Project Repository</title>
	</head>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<body>
		<div class="contianer">
			<div class="span6 offset4">
				<form  action="/" method="post">
					<fieldset>
					<legend>Project Upload</legend>
					<label>Project Title:</label>
					<input type="text" name="title" placeholder="Project Title" class="span6 inputH">
					<label>By:</label>
					<input type="text" name="author" placeholder="Author" class="span6">
					<label>Email:</label>
					<input type="email" name="email" placeholder="Email" class="span6">
					<label>Tags:</label>
					<input type="text" name="tags" placeholder="Tags" class="span6">
					<label>Course:</label>
					<select>
						<option>BBA</option>
						<option>BIT</option>
						<option>BCE</option>
						<option>BTE</option>
					</select>
					<label>File:</label>
					<input type="file" name="file">
					<button type='submit'>Submit</button>
					</fieldset>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>